<!DOCTYPE html>
<html>
  <head>
    <!-- meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/common.css">

<title>【JavaScript】静的コンテンツと動的コンテンツを共有する 改善版 - PerlゼミのLinux入門</title>
<meta name="description" content="昨日書いた記事">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <!-- header -->
<h1>
  <a href="/">PerlゼミのLinux入門</a>
</h1>

      </div>
      <div class="main">
        <div class="content">
          <div class="entry">
  <div class="top">
    <!-- top -->

  </div>
  <div class="middle">
    <h2><a href="/blog/20190813084150.html">【JavaScript】静的コンテンツと動的コンテンツを共有する 改善版</a></h2>
<p>
  昨日書いた記事
</p>
<p>
  [静的コンポーネントとJavaScriptの動的コンポーネントを共有する方法](http://qiita.com/yukikimoto/items/1c8a4316b286b4ee2a03)
</p>
<p>
  の改善版ができたので公開。CGIだから少しもっさりしているが、サーバーで起動すれば大丈夫なはず。
</p>
<p>
  [デモ 20170503.cgi](http://perlcodesample.sakura.ne.jp/examples/20170503.cgi)
</p>
<p>
  改善点は、フォームで渡すPOSTパラメーターのような感覚で、実行できるところ。まるでreactのような書き方だけど、jQueryとJSON.parseを使っているだけ。
</p>
<p>
  ```
</p>
<p>
  % $components->{'url-bar'} = begin
</p>
  <div>
    <button data-param='{"component":"url-bar", "url":"<%= $http_url %>"}'>HTTP</button>
    <button data-param='{"component":"url-bar", "url":"<%= $https_url %>"}'>HTTPS</button>
    <%= text_field 'url' => param('url') // $http_url %>
  </div>
<p>
  % end
</p>
<p>
  ```
</p>
<p>
  コンポーネント全体を書き換ながら、静的なコンテンツと動的なコンテンツを共有できる。
</p>
<p>
  ## ソースコード
</p>
<p>
  ```
</p>
<p>
  #!/usr/bin/env perl
</p>
<p>
  use FindBin;
</p>
<p>
  use lib "$FindBin::Bin/extlib/lib/perl5";
</p>
<p>
  use Mojolicious::Lite;
</p>
<p>
  any '/' => sub { shift->render_maybe('index') };
</p>
<p>
  app->start;
</p>
<p>
  __DATA__
</p>
<p>
  @@ index.html.ep
</p>
<%
  my $components = {};
  my $http_url = 'http://some.com';
  my $https_url = 'https://some.com';
<p>
  %>
</p>
<p>
  % $components->{'url-bar'} = begin
</p>
  <div>
    <button data-param='{"component":"url-bar", "url":"<%= $http_url %>"}'>HTTP</button>
    <button data-param='{"component":"url-bar", "url":"<%= $https_url %>"}'>HTTPS</button>
    <%= text_field 'url' => param('url') // $http_url %>
  </div>
<p>
  % end
</p>
<%
  # コンポーネントの描画処理
  if ($self->req->method eq 'POST') {
    my $component_name = param('component') // '';
    my $component = $components->{$component_name};
    
    if ($component) {
      my $html = $component->();
      
      $self->render(json => {html => $html});
      return;
    }
    else {
      $self->reply->not_found;
      return;
    }
  }
<p>
  %>
</p>
<html>
  <head>
    <meta charset="UTF-8">
    <title>静的コンポーネントとJSの動的コンポーネントを共有する方法</title>
    <%= javascript '/mojo/jquery/jquery.js' %>
  </head>
  <body>
    %= javascript begin
      $(document).ready(function () {
        $('#url-bar').on('click', 'button', function () {
          var param_json = $(this).attr('data-param');
          var param = JSON.parse(param_json);
          
          $.post('<%= url_for %>', param, function (result) {
            $('#' + param['component']).html(result['html']);
          });
        });
      });
    % end
    
    <h1>静的コンポーネントとJSの動的コンポーネントを共有する方法</h1>
    
    <div id="url-bar">
      %= $components->{'url-bar'}->();
    </div>
  </body>
</html>
<p>
  ```
</p>

  </div>
  <div class="bottom">
    <!-- bottom -->

  </div>
</div>

        </div>
        <div class="side">
          <!-- side -->
<div class="side-list">
  <div class="side-list-title">
    目次
  </div>
  <ul>
    <li><a href="/list.html">記事一覧</a></li>
  </ul>
</div>

        </div>
      </div>
      <div class="footer">
        <!-- footer -->
<a href="https://tutorial.perlzemi.com">Perlゼミ</a> & <a href="https://jp.giblog.net/">Giblog</a>

      </div>
    </div>
  </body>
</html>
